*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}
.btn-primary{
    padding: 20px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #474747;
    font-size: 22px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
}
/* header styles  */

header{
    height: 808px;
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    
}

.banner{
    width: 500px;
    text-align: right;
    padding: 210px 900px;
    
}
.title{
    margin-bottom: 20px;
    overflow-wrap: 0;
    color: white;
    font-size: 65px;
    
}
.description{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
    
    
}

/* failure section styles  */
.failure{
    margin-top: 140px;
    padding: 0 150px;
}
.container{
    display: flex;
    align-items: center;
    gap: 130px;
}
.f-title{
    width: 300px;
    font-size: 40px;
    font-weight: 900;

}
.f-description{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 416px;
    font-size: 18px;
    line-height: 28px;
    color: #444343;
}
.failure-items ul{
    font-size: 18px;
    color: #444343;
    list-style: none;
    line-height: 2rem;
    
}

/* my plans styles */

.plan{
    margin-top: 140px;
    padding: 0 130px;
}
.plan-title{
    margin-bottom: 80px;
    text-align: center;
    font-size: 45px;
    font-weight: 800;

}

.plan-container{
    display: flex;
    gap: 80px;
    justify-content: center;
    
}

.items{
    width: 420px;
    text-align: center;
}
.item-name{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    
}
.item-description{
    font-size: 22px;
    color: #444343;
}

/* linear image section styles  */
 
.img-container{
    padding: 0 230px;
    width: 1150px;
    /* background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);   */
}

.img-title{
    margin-top: 140px;
    padding: 70px 80px;
    background-image: linear-gradient(90deg,#005FAC 0%, #1c86dc00 100%), url("../images/watch.png");
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 160px;
    
}

.img-title .title-name{
    color: white;
    font-size: 35px;
    width:500px;
    margin-bottom: 25px;
}

/* footer styles  */
 footer{
    margin-top: 130px;
    background-color: black;
}
.footer-container{
    padding: 130px 230px;
    display: flex;
    gap: 230px;
    height: 450px;
    color: white;
 }
 .future-items{
    width: 450px;
 }
 .future-title{
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 20px;
 }
 .future-description{
    font-size: 22px;
    list-style: 25px;
    margin-bottom: 30px;
 }

 .email{
    font-size: 22px;
    margin-bottom: 20px;
 }
 .phone{
    font-size: 22px;
    margin-bottom: 28px;
 }
 .future-items img{
    margin-right: 30px;
 }
 
 .subscribe input{
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    font-size: 30px;
    background-color: black;
    margin-bottom: 45px;
 }

 .subscribe .btn-primary{
    width: 200px;
    background: #005FAC;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
 }